version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: accounting-support-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:h2:mem:accounting_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=analikayn
      - SPRING_H2_CONSOLE_ENABLED=true
    volumes:
      - uploads-data:/app/uploads
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    networks:
      - app-network

volumes:
  uploads-data:
    driver: local

networks:
  app-network:
    driver: bridge
